---
import Heading from "../../components/base/Heading.astro";
import LayoutPage from "../../layout/LayoutPage.astro";
import Section from "../../components/base/Section.astro";
import SectionInner from "../../components/base/SectionInner.astro";
import ButtonOutlinePurple from "../../components/base/ButtonOutlinePurple.astro";
import ButtonOutlineWhite from "../../components/base/ButtonOutlineWhite.astro";

import { getFormattedDate } from "../../_utils";
import { getCollection, getEntry } from "astro:content";

const { slug } = Astro.params;

const newsEntry = await getEntry("news", slug);

const { Content } = await newsEntry.render();

console.log();

export async function getStaticPaths() {
    const news = await getCollection("news");
    const newsPub = news.filter((item) => item.data.published === true);
    return newsPub.map((item) => {
        return { params: { slug: item.slug } };
    });
}
---

<LayoutPage
    title={newsEntry.data.title}
    description={newsEntry.data.excerpt}
    headerTitle={newsEntry.data.title}
>
    <Section class="bg-purple-100">
        <SectionInner>
            <time class="text-sm" datetime={newsEntry.data.date.toDateString()}>
                {getFormattedDate(newsEntry.data.date)} Uhr
            </time>
            <hr class={`w-12 mb-8 mt-3 border-gray-800 bg-gray-800"`} />
            <div
                class="prose prose-xl max-w-none prose-headings:font-normal prose-lead:leading-8 prose-headings:mb-4"
            >
                <Content />
            </div>
        </SectionInner>
    </Section>
    <Section class="bg-purple-2">
        <SectionInner>
            <ButtonOutlineWhite href="/news">Zurück zu News</ButtonOutlineWhite>
        </SectionInner>
    </Section>
</LayoutPage>
